/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

:root {
    --orange: #ff7f61;
    --dark-blue: #2c4068;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 25px 0;
}

h1,
h2,
h3 {
    color: var(--dark-blue);
    font-weight: 800;

}

p {
    line-height: 1.4rem;
}

a {
    color: var(--orange);
}

a:hover:not(.button) {
    color: var(--dark-blue);
}

.button {
    background-color: var(--orange);
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 30px;
    box-shadow: 3px 5px 3px 2px rgba(187, 187, 187, 0.5);
    transition: background-color .4s ease-in;
}

.button:hover {
    background-color: var(--dark-blue);
}

input.button {
    border: 0;
    cursor: pointer;
    margin-bottom: 30px;
}

hr {
    border: 2px solid var(--orange);
    max-width: 900px;
    margin: 30px auto;
}

footer {
    max-width: 900px;
    margin: 0 auto;
}

footer hr {
    border: 5px solid var(--dark-blue);
    max-width: 900px;
    margin: 30px auto;
}

.bold {
    font-weight: 700;
}

/* ================================= 
  Layout Styles
==================================== */

.wrapper {
    width: 60%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.site-name h1,
.site-name p {
    margin: 0;
}

#logo {
    height: 80px;
    margin-right: 20px;
}

nav a {
    padding: 5px 10px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

#hero-img {
    width: 60%;
    margin-right: 10px;
}

#welcome {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#welcome p:last-of-type {
    margin-bottom: 30px;
}

#experience {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

#experience img {
    border-radius: 50%;
    height: 325px;
}

#experience div {
    max-width: 55%;
}

#testimonials {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.testimonial-grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.testimonial-card {
    color: #fff;
    max-width: 300px;
    height: 375px;
    padding: 20px;
    margin: auto 20px;
}

.testimonial-card p {
    width: 75%;
    margin: 0 auto;
    font-style: italic;
}

.testimonial-card img {
    width: 35px;
    margin-top: 50px;
}

.testimonial-grid>.testimonial-card:nth-of-type(odd) {
    background-color: var(--orange);
}

.testimonial-grid>.testimonial-card:nth-of-type(even) {
    background-color: var(--dark-blue);
}

.testimonial-grid>.testimonial-card:nth-of-type(even) h3 {
    color: var(--orange);
}

.footer-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 60px;
}

.footer-card p {
    margin: 5px auto;
}

.footer-card a {
    text-decoration: none;
}

.footer-card p:nth-of-type(even){
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
}

/* ================================= 
  Services Page Styles
==================================== */

#services-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
}

.services-intro {
    width: 50%;
    margin: 0 auto 50px auto;
}

.services-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin: 0 auto 40px auto;

}

.service-card {
    width: 300px;
    height: 425px;
    box-shadow: 3px 5px 5px 5px rgba(187, 187, 187, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-bottom: 60px;
}

.service-card img {
    width: 300px;
}

.service-button {
    margin: 0 auto 30px auto;
    width: 30%;
}
.service-prices p {
    margin-bottom: 0px;
}

.price {
    font-size: 1.8rem;
    color: var(--orange);
    margin: 3px auto 20px auto;
}

/* ================================= 
  Contact Page Styles
==================================== */

#contact-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
}

form {
    margin: 0 auto;
}

#contact-form {
    border: 0;
    width: 100%;
    margin: 0 auto;
}

.input-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

input[type=text] {
    display: inline-block;
    height: 56px;
    width: 45%;
    border-radius: 5px;
    border: none;
    background-color: #eff0f1;
    margin: 12px auto 25px auto;
    padding: 0 15px;
}

#message {
    display: inline-block;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #eff0f1;
    margin: 12px auto 10px auto;
    padding: 15px;
}

